@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
 
}
html{
 scroll-behavior: smooth;
}
.Main-btn{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #f1f4f8;
  position: fixed;
  z-index: 999888889;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Tailwind */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* table{
  @apply w-full text-center shadow
} */
table tbody tr td{
  @apply border border-gray-200 p-1 text-xs md:text-base md:p-2
}
table thead tr th{
  @apply border border-gray-200 p-1 text-xs md:text-base md:p-2
}
input{
  @apply border dark:bg-gray-700 mb-2 block dark:text-white border-gray-300 rounded-md p-1 bg-gray-50 block focus:outline-none focus:ring-blue-500 focus:border-transparent
}
select{
  @apply border border-gray-300 dark:bg-gray-700 dark:text-white rounded-md p-1 bg-gray-100 block focus:outline-none focus:ring-blue-500 focus:border-transparent
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0364f5;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l4 1s infinite linear;
}
@keyframes l4 {to{transform: rotate(1turn)}}
.cancel_button {
    background-color: #dc2626;
    cursor: pointer;
    border-radius: 0.25rem;
    color: white;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
}
.load {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .load::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #c4c1c1;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }